._dashboard {
  width: 90%;
  margin: auto;
  padding: 40px 0;
  display: flex;
  flex-direction: COLUMN;
  gap: 20px;
}

._dashnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
._dashnav .item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  gap: 5px;
  font-family: var(--font1);

  border-radius: 5px;
  flex: 1;
  /* color: var(--blue); */
  cursor: pointer;
  /* border: 1px solid var(--blue); */
  transition: all 0.2s var(--bc);
}
._dashnav .item svg {
  color: var(--blue);
}

._dashnav .item:hover,
._dashnav .item.active {
  background-color: var(--blue);
  color: white;
}
._dashnav .item:hover svg,
._dashnav .item.active svg {
  color: white;
}
._dashboard .tile {
  padding: 16px;
  box-shadow: 0px 0px 10px #1114;
  border-radius: 5px;
}

._dashboard .main .tile {
  flex: 1;
  padding: 20px;
}
._dashboard .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

._dashboard .main {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);

  height: calc(100vh - 240px);
  align-items: stretch;
}

._dashboard .graph {
  padding-left: 0 !important;
  background: #555;
}

._dashboard .graph ._dropdown {
  width: 100px;
  height: 28px;
  font-size: 14px;

  padding: 4px 12px;
}
._dashboard .graph ._dropdown .selected {
  font-size: 14px;
}
._dashboard .graph ._dropdown .options {
  top: 6px;
  min-height: 144px;
}
._dashboard .graph ._dropdown .option {
  height: 36px;
  font-size: 14px;
}
._dashboard .graph h2 {
  color: white;
  font-weight: 500 !important;
  font-size: 18px !important;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
}
._dashboard .graph h2 span {
  display: flex;
  align-items: center;
  gap: 5px;
}
._dashboard .overview .ads_gained {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 9;
}

._dashboard .overview .users_gained {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}

._dashboard .overview .total_users {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: var(--blue);
}
._dashboard .overview .active_users {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: var(--green);
}

._dashboard .overview .total_ads {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
  background-color: var(--red-light);
}
._dashboard .overview .active_ads {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
  background-color: var(--yellow);
}
._dashboard .overview .weekly_revenue {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 7;
  background-color: var(--blue);
}
._dashboard .overview .categories {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 7;
  background-color: var(--green);
}

._dashboard .overview .visits {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 9;
  background-color: var(--red-light);
}
._dashboard .overview .searches {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 9;
  background-color: var(--yellow);
}
._dashboard .main .tile h2 {
  margin: 0;
  display: flex;
  gap: 4px;
  align-items: center;
  font-weight: 600;
  font-family: var(--font1);
  font-size: 20px;
  color: white;
}
._dashboard .main .tile h2 svg {
  /* fill: var(--blue); */
}
._dashboard .main .tile {
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  gap: 8px;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
}

._dashboard .main .tile h1 {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  color: white;
}

._dashboard .main .tile h1 span {
  font-size: 66px;
  font-weight: 700;
  font-family: var(--font1);
}
